body {
    background-color: black;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    line-height: 1.4;
    text-align: justify;
    font-size: 18px;
}

    h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
        font-style: italic;
        color; #444;
    }

    img {
        display: block;
        margin: 30px auto;
        max-width: 100%;
        width: 100%;
        border-radius: 12px;
        border: 2px solid #ccc;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        height: auto;
    }